/* .m-1{
    margin: 10px;
}
.m-2{
    margin: 20px;
}
.m-t-1{
    margin-top: 10px;
}
.m-t-2{
    margin-top: 20px;
}
.m-t-4{
    margin-top: 40px;
}
.m-t-5{
    margin-top: 50px;
}
.m-a{
    margin: 0 auto;
}
.m-l-a{
    margin-left: auto;
}
.m-l-1{
    margin-left: 15px;
} */