/* .p-1{
    padding: 10px;
}

.p-2{
    padding: 20px;
}
.p-tb-1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-b-1{
    padding-bottom: 10px;
}
.p-b-5{
    padding-bottom: 150px;
    
}
.p-r-5{
    padding-right: 150px;
    border: solid;
}
.p-t-1{
    padding-top: 20px;
}
.p-lr-2{
    padding-left:20px;
    padding-right: 20px;
} */