.income-main {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;
}
.income-main-month-title-cx {
  display: flex;
  flex-direction: column;
  // gap: 2px;
  // padding: 10px;
}
.month-btn-cx {
  display: flex;
  flex-direction: row;
 gap: 20px;
 
  justify-content: center;
  // padding: 5px 10px;
  background-color: var(--Primary);
  // border: solid white;
  width: 70%;

}
.month-btn{
  font-size: 1.2em;
  border: none;
  background-color: transparent;
  color: #cecccc;
  padding: 15px 0;
  // border-bottom: solid white;
  height:50px;
  
}
.income-main-title {
  background-color: lightblue;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.income-main-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.income-cx {
  display: flex;
  // box-shadow: 0px 1px 4px 0px rgb(0, 0, 0,0.5);
  border-radius: 5px;
  padding: 10px 0px;
  align-items: center;
  // border: solid;
}

.income-desc-cx {
  width: 100%;
}
.income-main-icon {
  width: 5%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.income-amount-cx {
  display: flex;
  flex-direction: column;
}
.income-filter-back-btn {
  background-color: white;
  // border: solid white;
  height: 2px;
  width: 4px;
}
.month-btn{

}
.month-back-btn-cx {
  display: flex;
  // border: solid white;
  align-items: center;
  width: 10%;
  min-width: 10%;
}
.month-back-btn-cx img {
  height: 20px;
  width: 20px;
}
.disable {
  display: none;
}
