.content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  background-color: #f5f7fa;
  padding-bottom: 70px;
  // border: solid greenyellow;
  // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard-logo {
  display: flex;
  background-color: var(--Primary);
  height: 70px;
  padding: 10px;
}
.dashboard-logo div {
  display: flex;
  flex-direction: column;
  color: white;
  gap: -10px;
}
.dashboard-logo div h4 {
  color: gray;
}
.dashboard-logo h1 {
  color: white;
  // text-align: center;
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.6em;
  margin-bottom: -10px;
}
.dashboard-avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: var(--Primary);
  margin-top: -35px;
}
.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 10px;
}
.logout {
  border: solid var(--Primary);
  background-color: transparent;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
}

.dashboard-section-one {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 5px;
  z-index: 1000;
}

.dashboard-section-one h1,
.dashboard-section-one h3 {
  color: white;
}
.dashboard-section-one h1 {
  font-size: 3em;
}
.dashboard-section-one svg {
  fill: white;
}

.total-balance-cx {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary);
  padding: 30px;
  gap: 20px;
  border-radius: 10px;
}
.balancebf-cx h3 {
  color: gainsboro;
  font-weight: 500;
  font-size: 1.2rem;
  // font-size: 24px;
}
.balance-cx span {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dashboard-analytic-cx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 0px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  border: 1px solid var(--Primary);
  // width: 100%;
}
.dashboard-analytic-cx h1 {
  // border: solid;
  align-self: flex-start;
}
.analytic-month-cx {
  display: flex;
  flex-direction: row;

  overflow-x: scroll;
  gap: 20px;
  padding: 5px 20px;
  width: 345px;
  cursor: pointer;
  // background-color: rgb(236, 236, 234);
  border-bottom: 1px solid gray;
  // border-radius: 13px;
}
.analytic-month-cx::-webkit-scrollbar {
  background-color: transparent;
  background: transparent;
  height: 0px;
}
.analytic-month {
  border: none;
  padding: 5px 50px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.1rem;
  // width: 100px;
  // border: solid red;
}

.analytic-balance {
  // padding: 0 20px;
  line-height: 1.6em;
}

.analytic-balance h3{
  background-color: var(--Primary);
  color: white;
  width: fit-content;
  margin: 5px 0px;
  padding: 0 5px;
  border-radius: 5px;
}
.analytic-balance h2{
  text-align: center;
  font-size: 1.3rem;
  
}
.analytic-details {
  // border: solid;
  display: flex;
  flex-direction: column;
}

.analytic-income-expenses-cx {
  display: flex;
  flex-direction: row;
  gap: 50px;
  // justify-content: space-between;
  padding: 10px;
}
.analytic-btn-active {
  color: var(--Primary);
  // font-size: 1.4rem;
  // border-bottom: 2px solid var(--Primary);
  transition: all 0.3s ease-in-out;
}


.analytic-btn-active::after{
  width: 100%;
  background-color: var(--Primary);
  display: block;
  height: 3px;
  position: relative;
  top: 10px;
  content: '';
  border-radius: 2px;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  
  
}


.no-active {
  color: grey;
}

.dashboard-section-income-expenses-cx {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.dashboard-section-one-income {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  flex-direction: column;
  width: 50%;
  background-color: var(--Primary);
}
.dashboard-section-one-income span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.income-span svg {
  fill: green;
}
.expenses-span svg {
  fill: red;
}

.dashboard-section-one-income h3 {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 500;
}
.dashboard-section-one-income h5 {
  font-size: 1.2em;
}
.txt-color {
  color: white;
}
.income-section-title,
.expenses-section-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 5px;
  gap: 5px;
  // background-color: rgb(227, 226, 226);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.income-section-title span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgb(12, 240, 141);
  border-radius: 50%;
}
.expenses-section-title span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgb(240, 77, 12);
  border-radius: 50%;
}
.expenses-section-title svg {
  fill: white;
}
.dashboard-section-two {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.show-income-cx {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 9px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.show-income-cx h3 {
  font-weight: 900;
  font-size: 1.15rem;
  // border: solid;
}
.show-income-cx h1 {
  font-size: 1.1rem;
  // font-weight: 500;
  // border: solid;
}
.desc-cx {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.desc-cx h4 {
  font-size: 0.975rem;
  font-weight: 400;
  width: 40px;
}
.desc-cx h3 {
  font-weight: 500;
}
.desc-cx h5 {
  font-size: 0.805rem;
  color: rgb(85, 84, 84);
  font-weight: 100;
}
.amount-cx {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  gap: 2px;
  // border: solid;
}
.amount-cx h1 {
  text-align: center;
}
.expenses-desc-cx {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.expenses-desc-cx h3,
h5 {
  line-height: 1.1rem;
}
.expenses-desc-cx h5 {
}

.dashboard-expenses-cx {
  margin-top: 10px;
}

.income-section-title h1 {
  font-size: 1.2em;
}
.expenses-section-title {
  // background-color: lightcoral;
  padding: 5px 5px;
}
.income-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.income-list-items {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  background-color: white;
}
.dashboard-add-transaction-cx {
  position: absolute;
  z-index: 1000;
  bottom: 80px;
  right: 15px;
  background-color: rgb(2, 2, 49, 0.8);
  border-radius: 10px;
  padding: 10px;
  // box-shadow: 0px 1px 20px 0px rgb(0, 0, 0,0.2);
  cursor: pointer;
}
.mouseEnter {
  background-color: var(--Primary);
}
.dashboard-expenses-cx {
  padding: 10px 10px;
  margin-top: -9px;
}
.dashboard-income-cx {
  padding: 40px 10px;
  margin-top: -35px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
}
.red-color {
  color: red;
}
@media (min-width: 600px) and (max-width: 767px) {
  .income-main {
    border: solid red;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .income-main {
    border: solid blue;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .income-main {
    border: solid violet;
  }
}