.page-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: solid red;
}
.page-header {
  display: flex;
  flex-direction: row;
}
.navbar-cx {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: fit-content;
  // border: solid green;

}
.content-cx {
  overflow-y: scroll;
  height: 91vh;
  border: solid rgb(0, 17, 255);
}
