.page-main {
  display: flex;
  flex-direction: column;
  height: fit-content;
 
//  position: relative;
}
.page-header {
  display: flex;
  flex-direction: row;
}
.navbar-cx {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: fit-content;
  // border: solid green;

}
.content-cx {
  overflow-y: scroll;
  height: 91%;
 
}
